.idea
*.iml
*.ipr
*.iws
build/
.gradle/
out/
target/
dist/
node_modules/
local.properties
**/.nb-gradle
**/integration-tests.war
platform-examples/web-deployment-example/polymer-client/bower_components
FXClient.jar
