.idea
*.iml
*.ipr
*.iws
build/
.gradle/
out/
target/
dist/
node_modules/
local.properties
**/.nb-gradle

integration-tests/docker-base/payara-integration/integration-tests.war
integration-tests/docker-base/tomee-integration/integration-tests.war
integration-tests/docker-base/wildfly-integration/integration-tests.war
